* {
  font-family: "Noto Sans", sans-serif;
}

.tbl {
  margin: auto;
  /* margin-top: 100px; */
  top: 80%;
}

.text-cen{
  text-align: center;
}

.tbl > tr {
}
.tbl > tr > th,
.tbl > tr > td {
  height: 50px;
  padding: 0 5px 0 0;
  font-size: 20px;
}

.tbl > tr > td > input::-webkit-outer-spin-button,
.tbl > tr > td > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

